# binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out

*.test

*.coverprofile
coverage.out

.env

.vscode/
.idea/

.DS_Store
Thumbs.db

tmp/

*.log
backup_*.sql

docker-data/
postgres-data/

node_modules/
dist/
.env
frontend/node_modules/
frontend/dist/
backend/tmp/
.air.toml

/backups